.App {
  text-align: center;
  width: 100%;
  padding-left: 24px;
  padding-right: 24px;
  margin-left: 55px;
  margin-right: 25px;
}

.nav-bar {
  background: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 2px;
  padding: 20px;
  height: 120px;
  box-shadow: 0 4px 4px -4px rgba(0,0,0,.6);
  width: 100%;
}

/*.Month1{*/
/*  align: left;*/
/*}*/

#submitButton {
  /*text-align: center;*/
  margin-top: 20px;
  margin-bottom: 10px;
}

.roundedCorners {
  border-radius: 50px;
  border: 2px;
  background: transparent;
  padding: 20px;
  height: 64px;
  box-shadow: 0 4px 4px -4px rgba(0,0,0,.6);
}
