html, body {
  max-width: 100%;
  overflow-x: hidden;
}

/*.App {*/
/*  text-align: center;*/
/*  width: 100%;*/
/*  padding-left: 24px;*/
/*  padding-right: 24px;*/
/*  margin-left: 55px;*/
/*  margin-right: 25px;*/
/*  overflow: no-display;*/
/*}*/

.nav-bar {
  background: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 2px;
  width: 100vh;
  height: 120px;
  box-shadow: 0 4px 4px -4px rgba(0,0,0,.8);
  overflow: hidden;
}

.LqLogo{
  padding-top: 23px;
}

#submitButton {
  /*text-align: center;*/
  margin-top: 20px;
  margin-bottom: 10px;
}

.roundedCorners {
  border-radius: 50px;
  border: 2px;
  background: transparent;
  padding: 20px;
  height: 64px;
  box-shadow: 0 4px 4px -4px rgba(0,0,0,.8);
}

.resultsCard{
  border-radius: 50px;
  border: 2px;
  background: transparent;
  padding: 20px;
  box-shadow: 0 4px 4px -4px rgba(0,0,0,.8);
  width: 100%;
  overflow: hidden;
  margin-bottom: 40px;
}